.productImageSelection-Container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.productImage-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.productImage {
  height: 500px;
  border-radius: var(--radius);
}
.productImagePrevButton,
.productImageNextButton {
  position: absolute;
  background-color: #fff;
  color: black;
  padding: .5rem .75rem;
  border-radius: 50%;
  border: none;
  font-size: 1.5rem;
  display: none;
}
.productImage-Selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.productImageChoice-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.productImageChoice-Container:hover {
  opacity: .7;
}
.productImageChoice {
  height: 75px;
  border-radius: var(--radius);
}
.productImageChoice-Container.currentImage {
  border: 3px solid var(--primary-orange);
  border-radius: var(--radius);
}
.currentImage > .productImageChoice {
  opacity: 0.3;
}
@media screen and (max-width: 1115px) {
  .productImage-Selector {
    display: none;
  }
  .productImagePrevButton,
  .productImageNextButton {
    display: block;
    cursor: pointer;
  }
  .productImagePrevButton {
    left: 1rem;
  }
  .productImageNextButton {
    right: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .productImageSelection-Container {
    width: 100%;
  }
  .productImage-Container {
    width: 100%;
  }
  .productImage {
    width: 100%;
    height: 100%;
  }
  .productImage {
    border-radius: 0;
  }
}