nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff);
  gap: 5rem;
  border-bottom: 1px solid var(--gray-blue);
  padding: 2rem 1rem 2.5rem 1rem;
  width: 100%;
  max-width: 75%;
  margin: 0 auto;
}
.sidebarToggleButton {
  display: none;
  background: transparent;
  color: black;
  font-size: 1.75rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all ease-in-out .3s;
}
.sidebarToggleButton:hover {
  rotate: 90deg;
}
.site-title {
  color: var(--very-dark-blue);
  font-size: 2rem;
  font-family: var(--ff);
  font-weight: 700;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  list-style-type: none;
  color: var(--dark-blue);
  font-family: var(--ff);
  font-weight: 400;
}
.nav-links > li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.cartAvatar-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: auto;
}
.cartIconContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartIconContainer > svg {
  fill: var(--dark-blue);
  height: 25px;
  cursor: pointer;
}
.cartAmount {
  position: absolute;
  top: -.75rem;
  right: -.75rem;
  border-radius: var(--radius);
  background-color: var(--primary-orange);
  padding: 0 .5rem;
  font-size: .75rem;
  color: var(--white);
}
.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.avatar {
  height: 60px;
}
@media screen and (max-width: 890px) {
  nav {
    gap: 2rem;
    padding: 1rem;
    margin: 0;
    max-width: 100%;
  }
  .nav-links {
    display: none;
  }
  .sidebarToggleButton {
    display: block;
  }
}