:root {
  --radius: 0.5rem;
  --primary-orange: hsl(26, 100%, 55%);
  --light-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-blue: hsl(219, 9%, 45%);
  --gray-blue: hsl(220, 14%, 75%);
  --light-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --ff: 'Kumbh Sans', sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff);
}
body {
  font-family: var(--ff);
  min-height: 100vh;
}
a {
  text-decoration: none;
}
a:visited {
  color: transparent;
}
